<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th>
      <%= link_to follows_user_path(user) do %>
        <%= user.followers.count %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to followers_user_path(user) do %>
        <%= user.followeds.count %>
      <% end %>
    </th>
  </tr>
  <tr>
    <% if current_user != user %>
      <th>
        <% if user.followed_by?(current_user) %>
          <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: "btn btn-info" %>
        <% else %>
          <%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-primary" %>
        <% end %>
      </th>
      <th>
        <% if current_user.followed_by?(user) && user.followed_by?(current_user) %>
          <% if is_room == true %>
            <%= link_to "メッセージへ", room_path(room_id) %>
          <% else %>
            <%= form_with model: room do |f| %>
              <%= fields_for entry do |e| %>
                <%= e.hidden_field :user_id, value: user.id %>
              <% end %>
              <%= f.submit "メッセージを始める", class:"btn btn-primary btn-lg user-show-message" %>
            <% end %>
          <% end %>
        <% else %>
          <p>相互フォローではありません</p>
        <% end %>
      </th>
    <% end %>
  </tr>
</table>
　
<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>